node_modules
**/node_modules
dist
**/dist
.next
**/.next
.git
.env
.env.local
.env.prod
*.log
coverage
.turbo
**/*.pem
storage/private/*.rsa
storage/private/license.json
client-keys/*.rsa
docker/nginx/certs/*.pem
!docker/nginx/certs/.gitkeep
guides
